.tool-bar {
    -fx-background-color: #292929;
}

.hbox {
    -fx-background-color: #292929;
}

.label {
	-fx-text-fill:white;
}

.button {
    -fx-text-fill:white;
    -fx-font-weight: bold;
    -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%);
    -fx-background-insets: 0,1,4;
    -fx-background-radius: 9,8,5;
}

.button:pressed {
    -fx-text-fill:white;
    -fx-font-weight: bold;
    -fx-background-color:linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
    -fx-background-insets: 0;
    -fx-background-radius: 9;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #e3e3e3;
}

.list-cell:filled:hover {
    -fx-background-color: orange;
    -fx-text-fill: white;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ff0d75;
}
